.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color:  rgba(0,0,0,0.7);
}


.modalDialog {
	position: absolute;
	max-width: 800px;
	width: calc(100% - 40px);
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	min-height: 400px;
	background: #fff;
}